html
  head
    title Cube Three.js app
    style.
      body { margin: 0; }
      canvas { width: 100%; height: 100% }
  body
    script(src='js/three.js')
    script(src='js/upload_and_animate.js')
